<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CSE564 Visualization Project for Spring 2019">
  <meta name="author" content="Sauradeep Paul and Damayanti Sengupta">

  <title>CSE564 Visualization Project</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"/>


  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}"/>

  <link ... href="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"/>
  <link ... href="{{ url_for('static', filename='js/d3-tip.js') }}"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>


  <script src="http://d3js.org/d3.v4.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>

  <!-- Bootstrap core JavaScript-->
  <link ... href="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"/>
  <link ... href="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"/>

  <!-- Core plugin JavaScript-->
  <link ... href="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"/>


  <!-- Custom scripts for all pages-->
  <link ... href="{{ url_for('static', filename='js/sb-admin.min.js') }}"/>




</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html"><img src="../static/assets/logo_new.png" width="200" height="80"></a>

    <a class="nav-link">
      <input id="slider" type='range' min="1" max="100" value="1">
    </a>

    <a class="nav-link">
      <div id="dropdown"></div>
    </a>

    <a class="nav-link">
      <button id="sim_button">Similarity Plot</button>
    </a>

    <a class="nav-link">
      <button id="pca_button">PCA Plot</button>
    </a>

  </nav>

  <div id="wrapper">

    <div id="content-wrapper">

      <div class="container-fluid">

        <section class="container">

          <div id="left-column" class="card mb-3" width="50%">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              World Map</div>
            <div id="graph" class="card-body">
              <!-- <svg id="map_svg"></svg> -->
            </div>
          </div>

          <div id="right-column" class="card mb-3">

            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Line Chart</div>
            <div id="line_chart" class="card-body">
              <!-- <svg id="map_svg"></svg> -->
            </div>

            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Bar Chart</div>
            <div id="bar_chart" class="card-body">
              <!-- <svg id="map_svg"></svg> -->
            </div>
          </div>
        </section>

<!--         <div id="graph" width="800" height="600">
            <svg width = "800" height = "600"></svg>
        </div> -->
        <script type="text/javascript">
        </script>

      </div>

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Sauradeep Paul and Damayanti Sengupta 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style.css') }}"> -->
  <script src="{{ url_for('static', filename='js/blocks_v4.js') }}"></script>
  <script>
  var data = {{ data.chart_data | safe }}
  var mds_data = {{ data.mds_data | safe }}
  onLoad(data, mds_data)
  </script>

</body>

</html>
